<a href="https://colab.research.google.com/github/fosterleejoe/2019/blob/master/FeatureExtractor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install keras==2.2.5
!pip install pytorch_pretrained_bert==0.6.2
!pip install boto3

Requirement already satisfied: keras==2.2.5 in /usr/local/lib/python3.6/dist-packages (2.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (1.12.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (3.13)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (1.3.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (2.8.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (1.0.8)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (1.17.4)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from keras==2.2.5) (1.1.0)
Collecting pytorch_pretrained_bert==0.6.2
  Downloading https://files.pythonhosted.org/packages/d7/e0/c08d5553b89973d9a240605b9c12404bcf8227590de62bae27acbcfe076b/pytorch_pretrained_bert-0.6.2-py3-none-any.whl (123kB)
     |████████████████████████████████| 133kB 9.6MB/s
Requirement already satisfied: torch>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.3.1)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.10.18)
Collecting regex
  Downloading https://files.pythonhosted.org/packages/e3/8e/cbf2295643d7265e7883326fb4654e643bfc93b3a8a8274d8010a39d8804/regex-2019.11.1-cp36-cp36m-manylinux1_x86_64.whl (643kB)
     |████████████████████████████████| 645kB 33.3MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (2.21.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.17.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (4.28.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (0.2.1)
Requirement already satisfied: botocore<1.14.0,>=1.13.18 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (1.13.18)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (1.24.3)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (0.15.2)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<2.8.1,>=2.1; python_version >= "2.7"->botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (1.12.0)
Installing collected packages: regex, pytorch-pretrained-bert
Successfully installed pytorch-pretrained-bert-0.6.2 regex-2019.11.1
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (1.10.18)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.9.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.18 in /usr/local/lib/python3.6/dist-packages (from boto3) (1.13.18)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.2.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3) (0.15.2)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3) (2.6.1)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<2.8.1,>=2.1; python_version >= "2.7"->botocore<1.14.0,>=1.13.18->boto3) (1.12.0)

In [0]:
import os
import boto3

os.environ['AWS_ACCESS_KEY_ID'] = 'AKIATZG6PQYPVO7ZOHIP'
os.environ['AWS_SECRET_ACCESS_KEY'] = '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'

In [0]:
client_s3 = boto3.client('s3')
client_s3.download_file('aif-article-recommender-dev', 'adressa_dataset/adressa_articles.json', './adressa_articles.json')

In [0]:
!ls -lh

total 244M
-rw-r--r-- 1 root root 244M Nov 20 10:17 adressa_articles.json
drwxr-xr-x 1 root root 4.0K Nov 15 16:31 sample_data

In [0]:
import pandas as pd

df = pd.read_json('./adressa_articles.json')
df.head()

                authors  ...                                                url
0   [yngvil bjellaanes]  ...   http://www.adressa.no/student/article1678246.ece
1     [martin andersen]  ...  http://www.adressa.no/nyheter/trondheim/2017/0...
2     [torsten hanssen]  ...  http://www.adressa.no/pluss/okonomi/2016/11/01...
3  [levin nestvold jr.]  ...  http://www.adressa.no/pluss/kultur/2016/06/27/...
4      [henning betten]  ...  http://www.adressa.no/nyheter/kuriosa/article1...

[5 rows x 14 columns]

In [0]:
!pip install shortuuid==0.5.0

Collecting shortuuid==0.5.0
  Downloading https://files.pythonhosted.org/packages/80/d7/2bfc9332e68d3e15ea97b9b1588b3899ad565120253d3fd71c8f7f13b4fe/shortuuid-0.5.0.tar.gz
Building wheels for collected packages: shortuuid
  Building wheel for shortuuid (setup.py) ... done
  Created wheel for shortuuid: filename=shortuuid-0.5.0-cp36-none-any.whl size=5499 sha256=1d475ca45585bafa4cb7cdb00b8fa908ba5bb3104ae4fc7d5ac68fde7172e49f
  Stored in directory: /root/.cache/pip/wheels/3f/eb/fd/69e5177f67b505e44acbd1aedfbe44b91768ee0c4cd5636576
Successfully built shortuuid
Installing collected packages: shortuuid
Successfully installed shortuuid-0.5.0

In [0]:
import shortuuid


def generate_id_and_highlights(row):
  row['id'] = shortuuid.uuid(name=row['url'])
  row['highlights'] = "{}\n{}".format("\n".join(row['organizations']),"\n".join(row['locations']))
  row['categories'] = [cat.split("|")[-1] for cat in row['categories']]
  
  return row

df = df.apply(lambda row: generate_id_and_highlights(row), axis=1)
df.head()

                authors  ...                                         highlights
0   [yngvil bjellaanes]  ...  nordre\npstereo\ndronning mauds\nnorges\ndragv...
1     [martin andersen]  ...  twitter\nklett\nstatens\ncirkle-k-stasjonen\nv...
2     [torsten hanssen]  ...  næringsforeningen\nkjos\nfosen\ntrondheim og s...
3  [levin nestvold jr.]  ...  ytterøy bygdetun\nytterøya\ntosca\nåsleik engm...
4      [henning betten]  ...  greenpeace\naletsch\nfuisse\nernst-happel\nmex...

[5 rows x 15 columns]

In [0]:
df = df[['url', 'categories', 'text', 'title', 'id', 'highlights']]
df.head()

                                                 url  ...                                         highlights
0   http://www.adressa.no/student/article1678246.ece  ...  nordre\npstereo\ndronning mauds\nnorges\ndragv...
1  http://www.adressa.no/nyheter/trondheim/2017/0...  ...  twitter\nklett\nstatens\ncirkle-k-stasjonen\nv...
2  http://www.adressa.no/pluss/okonomi/2016/11/01...  ...  næringsforeningen\nkjos\nfosen\ntrondheim og s...
3  http://www.adressa.no/pluss/kultur/2016/06/27/...  ...  ytterøy bygdetun\nytterøya\ntosca\nåsleik engm...
4  http://www.adressa.no/nyheter/kuriosa/article1...  ...  greenpeace\naletsch\nfuisse\nernst-happel\nmex...

[5 rows x 6 columns]

In [0]:
!pip install pytorch_pretrained_bert==0.6.2

Requirement already satisfied: pytorch_pretrained_bert==0.6.2 in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.17.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (4.28.1)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (2019.11.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (2.21.0)
Requirement already satisfied: torch>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.3.1)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from pytorch_pretrained_bert==0.6.2) (1.10.18)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pytorch_pretrained_bert==0.6.2) (1.24.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (0.9.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.18 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (1.13.18)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->pytorch_pretrained_bert==0.6.2) (0.2.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (0.15.2)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<2.8.1,>=2.1; python_version >= "2.7"->botocore<1.14.0,>=1.13.18->boto3->pytorch_pretrained_bert==0.6.2) (1.12.0)

In [0]:
from pytorch_pretrained_bert import BertTokenizer, BertModel

model_name = 'bert-base-multilingual-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)

100%|██████████| 871891/871891 [00:00<00:00, 1743102.10B/s]

In [0]:
def encode_row(row):
  
  sentences = list(filter(lambda line: line.strip() != '', row['text'].splitlines()))
  body = "[CLS] {} [SEP]".format(" [SEP] ".join(sentences))
  body_tokens = tokenizer.tokenize(body)
  
  if len(body_tokens) > 256:
    body_tokens = body_tokens[:254]
    body_tokens.append('[SEP]')

  body_encoded = tokenizer.convert_tokens_to_ids(body_tokens)
  
  if len(body_tokens) < 256:
    body_encoded.extend([0] * (256-len(body_encoded)))
  
  highlights = list(filter(lambda line: line.strip() != '', row['highlights'].splitlines()))
  highlights = "[CLS] {} [SEP]".format(" [SEP] ".join(highlights))
  highlights_tokens = tokenizer.tokenize(highlights)
  
  if len(highlights_tokens) > 16:
    highlights_tokens = highlights_tokens[:14]
    highlights_tokens.append('[SEP]')

  highlights_encoded = tokenizer.convert_tokens_to_ids(highlights_tokens)
  
  if len(highlights_encoded) < 16:
    highlights_encoded.extend([0] * (16-len(highlights_encoded)))
  
  title_tokens = tokenizer.tokenize("[CLS] {} [SEP]".format(row['title']))
  
  if len(title_tokens) > 16:
    title_tokens = title_tokens[:14]
    title_tokens.append('[SEP]')

  title_encoded = tokenizer.convert_tokens_to_ids(title_tokens)
  
  if len(title_encoded) < 16:
    title_encoded.extend([0] * (16-len(title_encoded)))

  encoded = title_encoded + body_encoded + highlights_encoded
  
  row['encoded'] = encoded
  
  return row

In [0]:
df = df.apply(encode_row, axis=1)
df.head()

                                                 url  ...                                            encoded
0   http://www.adressa.no/student/article1678246.ece  ...  [101, 10135, 94246, 10131, 10274, 154, 50915, ...
1  http://www.adressa.no/nyheter/trondheim/2017/0...  ...  [101, 11706, 20651, 11199, 21053, 15986, 24543...
2  http://www.adressa.no/pluss/okonomi/2016/11/01...  ...  [101, 118, 10934, 10162, 50581, 19606, 10111, ...
3  http://www.adressa.no/pluss/kultur/2016/06/27/...  ...  [101, 12675, 15446, 13228, 33984, 17153, 63684...
4  http://www.adressa.no/nyheter/kuriosa/article1...  ...  [101, 43298, 10177, 12285, 63076, 10142, 10139...

[5 rows x 7 columns]

In [0]:
df[['encoded']].shape

(74886, 1)

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

mlb_trns = mlb.fit_transform(df.categories)
mlb_trns

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [0]:
final_df = df.join(pd.DataFrame(mlb_trns,columns=mlb.classes_,index=df.index))
final_df.head()

                                                 url  ... xyz 42 testseksjon
0   http://www.adressa.no/student/article1678246.ece  ...                  0
1  http://www.adressa.no/nyheter/trondheim/2017/0...  ...                  0
2  http://www.adressa.no/pluss/okonomi/2016/11/01...  ...                  0
3  http://www.adressa.no/pluss/kultur/2016/06/27/...  ...                  0
4  http://www.adressa.no/nyheter/kuriosa/article1...  ...                  0

[5 rows x 250 columns]

In [0]:
cols_to_select = []

cols_to_select.append('encoded')
cols_to_select.extend(list(mlb.classes_))

cols_to_select[1:10]

['',
 '100sport',
 '17mai',
 '5rette',
 'abonnement',
 'aconcagua08',
 'adressa noogda',
 'agentrrr',
 'alpint']

In [0]:
len(mlb.classes_)

243

In [0]:
x = final_df[final_df.columns.intersection(cols_to_select)]

x.shape
x.head()

                                             encoded  ...  xyz 42 testseksjon
0  [101, 10135, 94246, 10131, 10274, 154, 50915, ...  ...                   0
1  [101, 11706, 20651, 11199, 21053, 15986, 24543...  ...                   0
2  [101, 118, 10934, 10162, 50581, 19606, 10111, ...  ...                   0
3  [101, 12675, 15446, 13228, 33984, 17153, 63684...  ...                   0
4  [101, 43298, 10177, 12285, 63076, 10142, 10139...  ...                   0

[5 rows x 244 columns]

In [0]:
x.shape

(74886, 244)

In [0]:
import numpy as np


train = x[0:71000]
validation = x[71000:74800]
test = x[74800:]

# def rs(row):
  
# #   if len(row['encoded']) < 288:
# #     row['encoded'].extend([0] * (288-len(row['encoded'])))
  
#   row['encoded']= np.array(row['encoded'])
#   return row

# train = train.apply(rs, axis=1)
# validation = validation.apply(rs, axis=1)
# test = test.apply(rs, axis=1)

print(train.shape)
print(validation.shape)
print(test.shape)

(71000, 244)
(3800, 244)
(86, 244)

In [0]:
x_train = train[['encoded']]
x_validation = validation[['encoded']]
x_test = test[['encoded']]


print(x_train.shape)
print(x_validation.shape)
print(x_test.shape)

(71000, 1)
(3800, 1)
(86, 1)

In [0]:
x_train =  np.array(train['encoded'].tolist())
x_validation = np.array(validation['encoded'].tolist())
x_test = np.array(test['encoded'].tolist())


print(x_train.shape)
print(x_validation.shape)
print(x_test.shape)

(71000, 288)
(3800, 288)
(86, 288)

In [0]:
train.head()

                                             encoded  ...  xyz 42 testseksjon
0  [101, 10135, 94246, 10131, 10274, 154, 50915, ...  ...                   0
1  [101, 11706, 20651, 11199, 21053, 15986, 24543...  ...                   0
2  [101, 118, 10934, 10162, 50581, 19606, 10111, ...  ...                   0
3  [101, 12675, 15446, 13228, 33984, 17153, 63684...  ...                   0
4  [101, 43298, 10177, 12285, 63076, 10142, 10139...  ...                   0

[5 rows x 244 columns]

In [0]:
y_train = train[mlb.classes_]
print(y_train.shape)

y_validation = validation[mlb.classes_]
print(y_validation.shape)

y_test = test[mlb.classes_]
print(y_test.shape)

(71000, 243)
(3800, 243)
(86, 243)

In [0]:
import keras
from keras.datasets import imdb
from keras.preprocessing.sequence import pad_sequences
from keras.models import Model # new!
from keras.layers import Input, concatenate # new! 
from keras.layers import Dense, Dropout, Embedding, SpatialDropout1D, Conv1D, GlobalMaxPooling1D, Flatten, MaxPooling1D, Reshape
from keras.callbacks import ModelCheckpoint
import os
from sklearn.metrics import roc_auc_score 
import matplotlib.pyplot as plt 
from keras import backend as K


import keras
from keras.datasets import imdb
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Dropout, Embedding, SpatialDropout1D, LSTM
from keras.layers.wrappers import Bidirectional # new! 
from keras.callbacks import ModelCheckpoint
import os
from sklearn.metrics import roc_auc_score 
import matplotlib.pyplot as plt 
%matplotlib inline

Using TensorFlow backend.

In [0]:
# output directory name:
output_dir = 'acr/biLSTM'

# training:
epochs = 10
batch_size = 128

# vector-space embedding: 
n_dim = 288
drop_embed = 0.2 
dropout= 0.2

# LSTM layer architecture:
n_lstm = 256 
drop_lstm = 0.2

In [0]:

input_layer = Input(shape=(288,), dtype='int32', name='input') # supports integers +/- 32.7k 
embedding_layer = Embedding(len(tokenizer.vocab), 64, input_length=288, name='embedding')(input_layer)

bilstm = Bidirectional(LSTM(n_lstm, dropout=drop_lstm))(embedding_layer)

dense = Dense(512, activation='relu', name='dense')(bilstm)
drop_dense2_layer = Dropout(dropout, name='drop_dense2')(dense)
output = Dense(len(mlb.classes_), activation='sigmoid', name='output')(drop_dense2_layer)

model = Model(input_layer, output)

model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input (InputLayer)           (None, 288)               0
_________________________________________________________________
embedding (Embedding)        (None, 288, 64)           6776256
_________________________________________________________________
bidirectional_1 (Bidirection (None, 512)               657408
_________________________________________________________________
dense (Dense)                (None, 512)               262656
_________________________________________________________________
drop_dense2 (Dropout)        (None, 512)               0
_________________________________________________________________
output (Dense)               (None, 243)               124659
=================================================================
Total params: 7,820,979
Trainable params: 7,820,979
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
modelcheckpoint = ModelCheckpoint(filepath="./acr_bilstm/weights.{epoch:02d}.hdf5")
if not os.path.exists('./acr_bilstm'):
    os.makedirs('./acr_bilstm')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs, verbose=1, validation_data=(x_validation, y_validation), callbacks=[modelcheckpoint])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 71000 samples, validate on 3800 samples
Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

71000/71000 [==============================] - 613s 9ms/step - loss: 0.0366 - acc: 0.9907 - val_loss: 0.0245 - val_acc: 0.9931
Epoch 2/10
71000/71000 [==============================] - 600s 8ms/step - loss: 0.0240 - acc: 0.9933 - val_loss: 0.0215 - val_acc: 0.9941
Epoch 3/10
71000/71000 [==============================] - 597s 8ms/step - loss: 0.0212 - acc: 0.9940 - val_loss: 0.0196 - val_acc: 0.9943
Epoch 4/10
71000/71000 [==============================] - 600s 8ms/step - loss: 0.0183 - acc: 0.9946 - val_loss: 0.0173 - val_acc: 0.9947
Epoch 5/10
71000/71000 [==============================] - 576s 8ms/step - loss: 0.0160 - acc: 0.9950 - val_loss: 0.0155 - val_acc: 0.9950
Epoch 6/10
71000/71000 [==============================] - 594s 8ms/step - loss: 0.0142 - acc: 0.9955 - val_loss: 0.0140 - val_acc: 0.9956
Epoch 7/10
 2176/71000 [..............................] - ETA: 9:28 - loss: 0.0128 - acc: 0.9959

# Model trained and saved

### Loading model and predicting

In [0]:
import numpy as np
import pandas as pd
from keras.models import Model
from pytorch_pretrained_bert import BertTokenizer

from keras.models import load_model


class Encoder:
    def __init__(self):
        self.tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-uncased')
        self.model = self._get_model()

    def generate_embeddings(self, title, body, highlights, max_title_len=16, max_body_len=256, max_highlights_len=16):
        title_encoded = self._get_encoding(title, max_title_len)
        body_encoded = self._get_encoding(body, max_body_len)
        highlights_encoded = self._get_encoding(highlights, max_highlights_len)

        encoded = title_encoded + body_encoded + highlights_encoded

        return self._get_embeddings(encoded)

    def _get_embeddings(self, encoded):
        df = pd.DataFrame({'encoded': [encoded]})
        encoded_pred = np.array(df['encoded'].tolist())
        return self.model.predict(encoded_pred)[0]

    def _get_model(self):
        model = load_model('./acr_bilstm/weights.10.hdf5')
        features_layer_model = Model(inputs=model.input, outputs=model.layers[-2].output)
        return features_layer_model

    def _get_encoding(self, text, max_text_len):
        sentences = list(filter(lambda line: line.strip() != '', text.splitlines()))
        marked_text = "[CLS] {} [SEP]".format(" [SEP] ".join(sentences))
        text_tokens = self.tokenizer.tokenize(marked_text)

        if len(text_tokens) > max_text_len:
            text_tokens = text_tokens[:max_text_len - 2]
            text_tokens.append('[SEP]')

        text_encoded = self.tokenizer.convert_tokens_to_ids(text_tokens)

        if len(text_encoded) < max_text_len:
            text_encoded.extend([0] * (max_text_len-len(text_encoded)))

        return text_encoded

In [0]:
model.load_weights('./acr_bilstm/weights.10.hdf5')

In [0]:
features_layer_model = Model(inputs=model.input,outputs=model.layers[-2].output)
features_layer_model.predict(x_test)

In [0]:
x_test.shape

In [0]:
len(features_layer_model[1])